{
    "publish_preview": false,
    "azure": {
        "describe": false,
        "subscription_key": "subscription_key",
        "endpoint": "endpoint"
    },
    "cameras": [
        {
            "id": "usb01",
            "type": "usb",
            "input_address": "/dev/video0",
            "width": 1088,
            "height": 815,
            "time": {
                "zone": "America/Sao_Paulo",
                "interval_seconds": 600,
                "start": 0,
                "end": 24
            },
            "preview": {
                "git_dir": "/home/kot/projects/github-kaiokot/gpod-preview/devices/usb01",
                "git_path": "git@github.com:kaiokot/gpod-preview.git"
            }
        },
        {
            "id": "outside",
            "type": "rtsp",
            "input_address": "rtsp://USER:PASSWORD@192.168.0.29:554/onvif1",
            "width": 1088,
            "height": 815,
            "time": {
                "zone": "America/Sao_Paulo",
                "interval_seconds": 600,
                "start": 0,
                "end": 24
            },
            "preview": {
                "git_dir": "/home/kot/projects/github-kaiokot/gpod-preview/devices/outside",
                "git_path": "git@github.com:kaiokot/gpod-preview.git"
            }
        }
    ]
}